In [1]:
#Create a gaussian distribution and export to csv

In [10]:
from numpy import random
import pandas as pd

In [23]:
data = pd.DataFrame(random.normal(loc = 50, scale = 1, size = 10000))
data.head()

           0
0  51.145569
1  49.134320
2  50.207413
3  49.023123
4  50.937154

In [24]:
df = data.to_csv(r'C:\Users\APENTAL\Desktop\Composite Analytics Training\Day3NormalDist.csv')

In [31]:
df1 = pd.read_csv(r'C:\Users\APENTAL\Desktop\Composite Analytics Training\Day3NormalDist.csv')
print(df1.shape)
df1.head()

(10000, 2)

   Unnamed: 0          0
0           0  51.145569
1           1  49.134320
2           2  50.207413
3           3  49.023123
4           4  50.937154

In [32]:
df1.drop('Unnamed: 0', inplace=True, axis = 1)
df1.columns = ['Values']
df1.head()

      Values
0  51.145569
1  49.134320
2  50.207413
3  49.023123
4  50.937154

In [36]:
expected_value = lambda values: sum(values)/len(values)
standard_deviation = lambda values,expected_value: np.sqrt(sum([(v - expected_value)**2 for v in values])/len(values))

In [39]:
expval = expected_value(df1['Values'])
stdev = standard_deviation(df1['Values'],expval)
print(f'Expected Value is : {expval},Standard deviation is {stdev}')

Expected Value is : 50.011972251076266,Standard deviation is 1.0059572909196537

In [33]:
#Mean and Standard Deviation
meanval = np.mean(df1['Values'])
meanval

50.011972251076266

In [35]:
stdev = np.std(df1['Values'])
stdev

1.0059572909196537