In [9]:
import pandas as pd
import numpy as np
from math import sqrt

In [2]:
df = pd.read_csv(r'C:\Users\APENTAL\Desktop\Composite Analytics Training\Accountancy Scores.csv')
print(df.shape)
df.head()

(8, 2)

   Before_Course  After_Course
0             44            53
1             40            38
2             32            46
3             44            39
4             70            73

In [3]:
df['Difference'] = df['After_Course'] - df['Before_Course']
df['Difference^2'] = df['Difference'] ** 2
df.head()

   Before_Course  After_Course  Difference  Difference^2
0             44            53           9            81
1             40            38          -2             4
2             32            46          14           196
3             44            39          -5            25
4             70            73           3             9

In [4]:
len(df)

8

In [10]:
num = sum(df['Difference'])
denom = sqrt(((len(df)*sum(df['Difference^2']) - (sum(df['Difference']))**2) / (len(df)-1)))

t = num/denom
print(t)

1.9743050776156752